body{
    background: linear-gradient(
            to right,
            #68ff00 0%,
            #26bf00 40%,
            #00abff 40%,
            #007ba2 100%
    );
}

.side{
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
    font-family: "Cambria Math", cursive;
    padding-top: 5%;
    display: flex;
    flex-direction:column;
}

.side:hover{
    border: 5px solid rgb(255, 255, 255);
    font-size: 25px;
}

.side:active{
    border: 5px solid rgb(53, 197, 0);
    font-size: 25px;
}

#rightSide{
    font-family: "Cambria Math", cursive;
    width: 60%;
    float: right;
    color: white;
    visibility: hidden;
    padding-top: 20%;
}

.headerDetail{
    text-align: center;
}

.left{
    width: 40%;
    float: left;
}